@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap|Lato:300');

a,
a:hover,
a:focus {
  text-decoration: none;
}

html {
    background: url('../images/vinyl1.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    font-family: Neucha;
}

.card {
  background: url('../images/vinyl3.jpg') no-repeat center center;
  background-size: cover;

}

.reminder-sub {
  border: .4rem solid black;
  display: flex;
  position: relative;
  text-transform: capitalize;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f46703;
}

.profile-note {
  background: url('../images/vinyl3.jpg') no-repeat center center;
  background-size: cover;
}

.card-panel {
  background: url('../images/vinyl3.jpg') no-repeat center center;
  background-size: cover;
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}