@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap|Lato:300');

a,
a:hover,
a:focus {
  text-decoration: none;
}

html {
    background: url('../images/vinyl1.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    font-family: Neucha;
}

.all-buttons {
  font-family: Neucha;
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

.user-records {
  border: .4rem solid #4D2F29;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  text-align: center;
  background-color: white;
  color: black;
}

/* Verification  */
.card {
  border: .4rem solid #4D2F29;
}


/* Home Page  */
.box-mid {
  background-color: white;
  border: .4rem solid #4D2F29;
}

.overlay:hover {
  opacity: 1;
}

/* Profile Page  */

.card-panel {
  border: .4rem solid #4D2F29;
}
