{% extends "base.html" %}
{% block content %}

    <h2>Confirm Delete Record</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('delete_record', record_id=record._id) }}">
            <div class="card-panel">
            <!-- Record name -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">Are you sure you want to delete <span class="text-bold">{{ record.album_name }}?</span></p>
                    <p class="center-align">This action is permanent.</p>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_records') }}" class="btn waves-effect waves-light btn-black">
                        Cancel <i class="fa-solid fa-xmark"></i>
                    </a>
                    <button type="submit" class="btn">
                        Delete Record <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>

{% endblock %}