{% extends "base.html" %}
{% block content %}

<h3 class="card-panel text-darken-4 center-align">Edit Record</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_record', record_id=record._id) }}">
        <!-- trading position -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-shopping-cart prefix"></i>
                <select id="trading_position" name="trading_position" class="validate" required>
                    <option value="" disabled>Choose Option</option>
                    {% for trade in trading %}
                        {% if trade.trading_position == record.trading_position %}
                            <option value="{{ trade.trading_position }}" selected>{{ trade.trading_position }}</option>
                        {% else %}
                            <option value="{{ trade.trading_position }}">{{ trade.trading_position }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="trading_position">Trading</label>
            </div>
        </div>
        <!-- album name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-record-vinyl prefix"></i>
                <input id="album_name" name="album_name" type="text" class="validate" 
                value="{{ record.album_name }}"required>
                <label for="album_name">Album Name</label>
            </div>
        </div>
        <!-- artist name -->
        <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-street-view prefix"></i>
                <input id="artist_name" name="artist_name" type="text" class="validate" 
                value="{{ record.artist_name }}"required>
                <label for="artist_name">Artist Name</label>
                </div>
        </div>        
        <!-- genre -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-music prefix"></i>
                <select id="genre" name="genre" class="validate" required>
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres %}
                        {% if genre.genre == record.genre %}
                            <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                        {% else %}
                            <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="genre">Genre</label>
            </div>
        </div>
        <!-- <h3>{{record.genre}} </h3> -->
        <!-- release date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix"></i>
                <input id="release_date" name="release_date" type="text" class="datepicker validate" 
                value="{{ record.release_date }} "required>
                <label for="release_date">Release Date</label>
            </div>
        </div>
        <!-- price -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pound-sign prefix"></i>
                <input id="price" name="price" type="text" class="validate" 
                value="{{ record.price }}"required>
                <label for="price">price</label>
            </div>
        </div>
        <!-- album art -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="image" name="image" class="materialize-textarea validate"></textarea>
                <label for="image">Artwork</label>
            </div>
        </div>
        <!-- contact -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-envelope prefix"></i>
                <input id="contact" name="contact" type="text" class="validate" 
                value="{{ record.contact }}"required>
                <label for="contact">Contact</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large light-blue darken-1 text-shadow all-buttons">
                    Edit Record <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}